/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
}

/* source: https://www.w3schools.com/css/css3_fonts.asp */
/* fonts source: https://www.w3schools.com/css/css_font_google.asp */

.style-guide-section-header{
  background-color: #21691B;
  color: #ffffff;
  width: 100%;
  padding: 0.75rem;
}

.element {
  margin-bottom: 2rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(64, 64, 64);
}


h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.contents {
  background-color: #ffffff;
  padding: 3rem;
  display: block;
}

code {
  background-color: #eee;
  padding: 1rem;
  display: block;
}

section {
  padding-bottom: 50px;
}

.top-nav {
  align-items: center;
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #21691B;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  /* source: https://stackoverflow.com/questions/2417130/how-can-i-align-two-divs-horizontally */
}

.nav-right{
  align-items: center;
  width: auto;
  display: flex;
  justify-content: space-between;
}

/*styling the input field
source: https://www.w3schools.com/cssref/pr_font_weight.asp */

.input-field-label {
  display:inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #21691B;
  font-weight: bold;
}

.input-label {
  display:inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #000000;
}

/* sources: https://learn.shayhowe.com/html-css/building-forms/*/

.input-field {
  border-radius: 0;
  border-color: #FFFFFF;
  border-width: 2px;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 20rem;
  border: 2px solid #21691B;
  border-radius: 4px;
}

.input-field:hover, .input-field:focus {
  border-color: #EAEAEA;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.75rem;
  color: #21691B;
  background-color: #E7F7E6;
  text-decoration: none;
  border-style: solid;
  border-color: #21691B;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.secondary-button {
  display: inline-block;
  padding: 0.75rem;
  color: #21691B;
  background-color: #FFFFFF;
  text-decoration: none;
  border-style: solid;
  border-color: #21691B;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.secondary-button:hover, .button-nav:focus {
  background-color: #E7F7E6;
  color: #000000;
  border-radius: 1rem;
}

.button-nav:hover, .button-nav:focus {
  background-color: #E7F7E6;
  color: #000000;
  border-radius: 1rem;
}

/* Styling for submit button*/
.button-submit {
  display: inline-block;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #21691B;
  text-decoration: none;
  border-style: solid;
  border-color: #21691B;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 0rem;
  margin-bottom: 0.5rem;
}

.button-submit:hover, .button-submit:focus {
  background-color: #21691B;
  color: #000000;
  border-radius: 1rem;
}

/* Styling for reset button*/
.button-reset {
  display: inline-block;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #C28D57;
  text-decoration: none;
  border-style: solid;
  border-color: #C28D57;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.button-reset:hover, .button-reset:focus {
  background-color: #ffffff;
  color: #C28D57;
  border-radius: 1rem;
}

/* Styling for the in-text link */
.in-text-link {
  color: #21691B;
  font-weight: 700;
}

.in-text-link:hover, .in-text-link:focus {
  color: #454A45;
}

/* Styling for the in-text link */
/* source: https://www.w3schools.com/css/css_border.asp*/
.linked-image:hover, .linked-image:focus {
  border: 5px;
  border-style: solid;
  border-color: #21691B;
  border-radius: 3rem;
}

.linked-image {
  width: 100%;
  max-width: 500px;
  border: 5px solid rgba(255, 255, 255, 0.034);
  transition-property: border-radius;
  transition-duration: 1s;
}

.main-nav {
  vertical-align: middle;
  background-color: #21691B;
  display: flex;
  padding: 1rem;
  align-content: right;
}

/*
  TEXT ELEMENTS -------------------
*/

/*header styling*/
.header1 {
  font-family: "DM Serif Display", sans-serif;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  font-size: 4rem;
  color: #21691B;
}

.header2 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight:800;
  font-size: 2.5rem;
}

.header3 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight:600;
  font-size: 2rem;
}

.header4 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.header5 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.15rem;
}

input {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

p {
  margin-top: 0;
  width: 70%;
}


/*
  COMBINED ELEMENTS -------------------
*/

.product-listing {
  display: flex;
  /* border: 3px solid #21691B; */
  padding: 1rem;
  margin: 2rem;
  width: fit-content;
  /* width: 75%; */
  background-color: #FFFFFF;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product-listing-child{
  /* padding: 1rem; */
  margin: 1rem;
}

.product-listing-child-submit{
  margin-top: 6rem;
  width: 300px;
  text-align: center;
}

.product-listing-child-nav{
  width: 300px;
  text-align: center;
}

.product-image {
  max-width: 300px;
}

@media only screen and (max-width: 1250px) {
  .product-description{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .product-description{
    display: none;
  }
  .product-listing{
    flex-direction: column;

  }
  .product-image{
    padding-left: 1.5rem;
  }

  .product-listing-child{
    padding: 0;
  }

  .product-listing-child-submit{
    margin-top: 1rem;
  }

}

@media only screen and (min-width: 700px) {
  #hamburger{
    display: none;
  }
}

.checkout-cart {

  display: flex; /*monica edit */
  flex-wrap: wrap;/*monica edit */
  background-color: #FFFFFF;
  padding: 2rem;
  width: auto;
  border: 1px solid #21691B;
  border-radius: 10px;

}

/*monica edit */
.checkout-item{
margin: 2rem;
}

/*monica edit */
.checkout-cost{
  display: flex;
  /* used this link to figure out how to add space between flex items https://css-tricks.com/almanac/properties/j/justify-content/ */
  justify-content: space-between;
  padding-top: 1rem;
  /* padding-left: 0; */
  margin-top: 3rem;
}

.checkout-buttons{
  padding-top: 1rem;
}

/*monica edit */
@media only screen and (max-width: 1120px) {
  .checkout-cost {
    padding-top: 0;
  }
}

/*monica edit */
@media only screen and (max-width: 850px) {
  .checkout-cart {
    display: flex; /*monica edit */
    flex-direction: column;
    flex-wrap: wrap;/*monica edit */
    /* background-color: #F0F6FC; */
    /* padding: 2rem; */
    width: fit-content;
  }
  .checkout-cost{
    flex-direction: column;
  }
  .checkout-buttons{
    padding-top: 0;
  }
  .cost-element{
    padding-top: 1rem;
  }
}

/*monica edit */
/* https://alvarotrigo.com/blog/hamburger-menu-css-responsive/ used this link to make hamburger menu appear and disappear*/
@media only screen and (max-width: 700px) {
  .nav-right{
    display: none;
  }
  #hamburger{
    display: inline;
  }
}




.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
}

.container .block {
  width: auto;
  flex-grow: 1;
}

.product-list {
  margin: 5rem;
}

#checkout-img {
  margin-bottom: 5px;
}

#checkout-img:hover {
  opacity: 0.5;
}


/* new edits monica */
.image-sample{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.image{
  max-width: 250px;
  max-height: 250px;
  height: auto;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer{
  display: flex;
  background-color:#E7F7E6;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  justify-content: space-between;

}

.footer-child{
  padding: 1rem;
}

.footer-child-lastline{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.social:hover, .social:focus{
  opacity: 0.5;
}

@media only screen and (max-width:900px){
  .footer-child-lastline{
    flex-direction: column;
  }
  .footer-sub-child{
    padding: 1.5rem;
  }
  .footer{
    padding-top: 1.5rem;
  }
}


.grey{
  color: #454A45;
}

.product_catalogue{
  background-color: #FAFFF8;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #21691B;
  border-radius: 10px;
}

.continent-label{
  display: flex;
  justify-content: center;
}

.title{
  padding: 2rem;
  margin-top: 4rem;
}

.standard-image{
  max-width: 100%;
  height: auto;
}

.home-image{
opacity: 0.5;
}

.home-page{
  background-color: linear-gradient(180deg, #F2FFF2 0%, rgba(250, 255, 250, 0) 100%);
}

#backgrounddrinks-img{
  max-width: 45%;
}

.flex-container{
  display: flex;
  padding: 4rem;
  justify-content: flex-start;

}

.block{
  display: flex;
  justify-content: center;
}

#home-text{
  position: absolute;
  top: 40%;
  left: 20%;
  text-align: center;
}

#landing-image{
  position: relative;
}

#message{
  height: 5rem;
}

#submit{
  margin:2rem;
}

.contact-us{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}

.about-top-container{
  display: flex;
  flex-direction: column;
}

.about-child{
  display: flex;
  flex-direction: row;
}
