/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
}

/* source: https://www.w3schools.com/css/css3_fonts.asp */
/* fonts source: https://www.w3schools.com/css/css_font_google.asp */

.style-guide-section-header{
  background-color: #21691B;
  color: #ffffff;
  width: 100%;
  padding: 0.75rem;
}

.element {
  margin-bottom: 2rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(64, 64, 64);
}


h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.contents {
  background-color: #ffffff;
  padding: 3rem;
  display: block;
}

code {
  background-color: #eee;
  padding: 1rem;
  display: block;
}

section {
  padding-bottom: 50px;
}

.top-nav {
  align-items: center;
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #E7F7E6;
  padding: 20px;
  /* source: https://stackoverflow.com/questions/2417130/how-can-i-align-two-divs-horizontally */
}

.nav-logo{

}

/*styling the input field
source: https://www.w3schools.com/cssref/pr_font_weight.asp */

.input-field-label {
  display:inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #21691B;
  font-weight: bold;
}

.input-label {
  display:inline-block;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #7F7F7F;
}

/* sources: https://learn.shayhowe.com/html-css/building-forms/*/

.input-field {
  border-radius: 0;
  border-color: #21691B;
  border-width: 2px;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 20rem;
}

.input-field:hover, .input-field:focus {
  border-color: lightblue;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.75rem;
  color: #21691B;
  background-color: #E7F7E6;
  text-decoration: none;
  border-style: solid;
  border-color: #21691B;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.button-nav:hover, .button-nav:focus {
  background-color: #21691B;
  color: #ffffff;
  border-radius: 1rem;
}

/* Styling for submit button*/
.button-submit {
  display: inline-block;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #21691B;
  text-decoration: none;
  border-style: solid;
  border-color: #21691B;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.button-submit:hover, .button-submit:focus {
  background-color: #ffffff;
  color: #21691B;
  border-radius: 1rem;
}

/* Styling for reset button*/
.button-reset {
  display: inline-block;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #C28D57;
  text-decoration: none;
  border-style: solid;
  border-color: #C28D57;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.button-reset:hover, .button-reset:focus {
  background-color: #ffffff;
  color: #C28D57;
  border-radius: 1rem;
}

/* Styling for the in-text link */
.in-text-link {
  color: #21691B;
  font-weight: 700;
}

.in-text-link:hover, .in-text-link:focus {
  color: #002344;
}

/* Styling for the in-text link */
/* source: https://www.w3schools.com/css/css_border.asp*/
.linked-image:hover, .linked-image:focus {
  border: 5px;
  border-style: solid;
  border-color: #21691B;
  border-radius: 3rem;
}

.linked-image {
  width: 100%;
  max-width: 500px;
  border: 5px solid rgba(255, 255, 255, 0.034);
  transition-property: border-radius;
  transition-duration: 1s;
}

.main-nav {
  vertical-align: middle;
  background-color: #E7F7E6;
  display: flex;
  padding: 1rem;
  align-content: right;
}

/*
  TEXT ELEMENTS -------------------
*/

/*header styling*/
.header1 {
  font-family: "DM Serif Display", sans-serif;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  font-size: 4rem;
  color: #21691B;
}

.header2 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight:800;
  font-size: 2.5rem;
}

.header3 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight:600;
  font-size: 2rem;
}

.header4 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
}

input {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

p {
  margin-top: 0;
  width: 70%;
}


/*
  COMBINED ELEMENTS -------------------
*/

.product-listing {
  border: 3px solid #21691B;
  padding: 1rem;
  width: fit-content;
  background-color: #E7F7E6;
}

.product-image {
  width: 100%;
  max-width: 300px;
}

.checkout-cart {

  display: flex; /*monica edit */
  flex-wrap: wrap;/*monica edit */
  background-color: #F0F6FC;
  padding: 2rem;
  width: fit-content;
}

/*monica edit */
.checkout-item{
margin: 2rem;
}

/*monica edit */
.checkout-cost{
  padding-top: 25.5rem;
  padding-left: 2rem;
}

/*monica edit */
@media only screen and (max-width: 1120px) {
  .checkout-cost {
    padding-top: 0;
  }
}

/*monica edit */
@media only screen and (max-width: 900px) {
  .checkout-cart {
    display: flex; /*monica edit */
    flex-direction: column;
    flex-wrap: wrap;/*monica edit */
    background-color: #F0F6FC;
    padding: 2rem;
    width: fit-content;
  }
}

/*monica edit */
/* https://alvarotrigo.com/blog/hamburger-menu-css-responsive/ used this link to make hamburger menu appear and disappear*/
@media only screen and (max-width: 700px) {
  .nav-right{
    display: none;
  }
  #hamburger{
    display: inline;
  }
}

@media only screen and (min-width: 700px) {
  #hamburger{
    display: none;
  }
}




.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
}

.container .block {
  width: auto;
  flex-grow: 1;
}

.product-list {
  margin: 5rem;
}

#checkout-img{
  margin-top: 5px;
}

#checkout-img:hover {
  opacity: 0.5;
}
