/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
}

/* source: https://www.w3schools.com/css/css3_fonts.asp */
/* fonts source: https://www.w3schools.com/css/css_font_google.asp */

.style-guide-section-header{
  background-color: #21691B;
  color: #ffffff;
  width: 100%;
  padding: 0.75rem;
}

.element {
  margin-bottom: 2rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(64, 64, 64);
}


h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.contents {
  background-color: #ffffff;
  padding: 3rem;
  display: block;
}

code {
  background-color: #eee;
  padding: 1rem;
  display: block;
}

section {
  padding-bottom: 50px;
}

.top-nav {
  align-items: center;
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #21691B;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  /* source: https://stackoverflow.com/questions/2417130/how-can-i-align-two-divs-horizontally */
}


.nav-right{
  align-items: center;
  width: auto;
  display: flex;
  justify-content: space-between;
}


/*styling the input field
source: https://www.w3schools.com/cssref/pr_font_weight.asp */

.input-field-label {
  display:inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #21691B;
  font-weight: bold;
}

.input-label {
  display:inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #000000;
}

/* sources: https://learn.shayhowe.com/html-css/building-forms/*/

.input-field {
  border-radius: 0;
  border-color: #FFFFFF;
  border-width: 2px;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 20rem;
  border: 2px solid #21691B;
  border-radius: 4px;
}

.input-field:hover, .input-field:focus {
  border-color: #EAEAEA;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.75rem;
  color: #21691B;
  background-color: #E7F7E6;
  text-decoration: none;
  border: 2px solid #21691B;
  font-weight: 600;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;

  /*border and radius*/
  border-radius: 0.5rem;
}

.secondary-button {
  display: inline-block;
  padding: 0.75rem;
  color: #21691B;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #21691B;
  font-weight: 600;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.secondary-button:hover, .button-nav:focus {
  /*background-color: #E7F7E6;
  color: #000000;
  border-radius: 1rem;*/
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.20);
}

.button-nav:hover, .button-nav:focus {
  /*background-color: #E7F7E6;
  color: #000000;
  border-radius: 1rem;*/
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.20);
}

/* Styling for submit button*/
.button-submit {
  display: inline-block;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #21691B;
  text-decoration: none;
  border: 2px solid #21691B;
  font-weight: 600;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  margin-right: 0rem;
  margin-bottom: 0.5rem;

  border-radius: 0.5rem;
}

.button-submit:hover, .button-submit:focus {
  /*background-color: #21691B;
  color: #000000;
  border-radius: 1rem;*/
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.20);
}

/* Styling for reset button*/
.button-reset {
  display: inline-block;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #C28D57;
  text-decoration: none;
  border-style: solid;
  border-color: #C28D57;
  border-width: 2px;
  font-weight: 600;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.button-reset:hover, .button-reset:focus {
  background-color: #ffffff;
  color: #C28D57;
  border-radius: 1rem;
}

/* Styling for the in-text link */
.in-text-link {
  color: #21691B;
  font-weight: 700;
  text-decoration: underline;
}

.in-text-link:hover, .in-text-link:focus {
  color: #454A45;
}

/* Styling for the in-text link */
/* source: https://www.w3schools.com/css/css_border.asp*/
.linked-image:hover, .linked-image:focus {
  border: 5px;
  border-style: solid;
  border-color: #21691B;
  border-radius: 3rem;
}

.linked-image {
  width: 100%;
  max-width: 500px;
  border: 5px solid rgba(255, 255, 255, 0.034);
  transition-property: border-radius;
  transition-duration: 1s;
}

.main-nav {
  vertical-align: middle;
  background-color: #21691B;
  display: flex;
  padding: 1rem;
  align-content: right;
}

/*
  TEXT ELEMENTS -------------------
*/

/*header styling*/
.header1 {
  font-family: "DM Serif Display", sans-serif;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  font-size: 3rem;
  color: #21691B;
  width: 100%;
}

.header2 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight:800;
  font-size: 2rem;
}

.header3 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.header4 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.header5 {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.15rem;
}

input {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

p {
  margin-top: 0;
  width: 100%;
}


/*
  COMBINED ELEMENTS -------------------
*/

.product-listing {
  display: flex;
  /* border: 3px solid #21691B; */
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: fit-content;
  /* width: 75%; */
  background-color: #FFFFFF;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product-listing-child{
  margin: 1rem;
}

.product-listing-child-submit{
  margin-top: 6rem;
  width: 300px;
  text-align: center;
}

.product-listing-child-nav{
  width: 300px;
  text-align: center;
}

.product-image {
  max-width: 300px;
}

@media only screen and (max-width: 1020px) {
  .product-description{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .product-description{
    display: none;
  }
  .product-listing{
    flex-direction: column;

  }
  .product-image{
    padding-left: 1.5rem;
  }


  .product-listing-child-submit{
    margin-top: 1rem;
  }

  /* home page things */
  #home-caption-button{
  font-size: 2vw;
  }
}

@media only screen and (min-width: 700px) {
  #hamburger{
    display: none;
  }
}

.checkout-cart {

  display: flex; /*monica edit */
  flex-wrap: wrap;/*monica edit */
  background-color: #FFFFFF;
  padding: 2rem;
  width: auto;
  border: 1px solid #21691B;
  border-radius: 10px;

}

/*monica edit */
.checkout-item{
margin: 2rem;
}

/*monica edit */
.checkout-cost{
  display: flex;
  /* used this link to figure out how to add space between flex items https://css-tricks.com/almanac/properties/j/justify-content/ */
  justify-content: space-between;
  padding-top: 1rem;
  /* padding-left: 0; */
  margin-top: 3rem;
}

.checkout-buttons{
  padding-top: 1rem;
}

/*monica edit */
@media only screen and (max-width: 1120px) {
  .checkout-cost {
    padding-top: 0;
  }
}

/*monica edit */
@media only screen and (max-width: 850px) {
  .checkout-cart {
    display: flex; /*monica edit */
    flex-direction: column;
    flex-wrap: wrap;/*monica edit */
    /* background-color: #F0F6FC; */
    /* padding: 2rem; */
    width: fit-content;
  }
  .checkout-cost{
    flex-direction: column;
  }
  .checkout-buttons{
    padding-top: 0;
  }
  .cost-element{
    padding-top: 1rem;
  }
}

/*monica edit */
/* https://alvarotrigo.com/blog/hamburger-menu-css-responsive/ used this link to make hamburger menu appear and disappear*/
@media only screen and (max-width: 700px) {
  .nav-right{
    display: none;
  }
  #hamburger{
    display: inline;
  }
}


.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
}

.container .block {
  width: auto;
  flex-grow: 1;
}

.product-list {
  margin: 5rem;
}

#checkout-img {
  margin-bottom: 5px;
}

.fade:hover {
  opacity: 0.5;
}


/* new edits monica */
.image-sample{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image{
  max-width: 250px;
  max-height: 250px;
  height: auto;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer{
  display: flex;
  background-color:#E7F7E6;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  justify-content: space-between;

}

.footer-child{
  padding: 1rem;
}

.footer-child-lastline{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 99vw;
  padding-left: 0;
  padding-right: 0;
  /* width: 100vw; */
}

.footer-sub-child{
  padding-left: 2rem;
  padding-right: 2rem;
}

.social:hover, .social:focus{
  opacity: 0.5;
}

@media only screen and (max-width:900px){
  .footer-child-lastline{
    flex-direction: column;
  }
  .footer-sub-child{
    padding: 1.5rem;
  }
  .footer{
    padding-top: 1.5rem;
  }
}


.grey{
  color: #454A45;
}

.product_catalogue{
  background-color: #FAFFF8;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #21691B;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.continent-label{
  display: flex;
  justify-content: center;
}

.title{
  padding: 2rem;
  margin-top: 4rem;
}


.flex-container{
  display: flex;
  padding: 4rem;
  justify-content: flex-start;
  margin-top: 4rem;

}

.block{
  display: flex;
  justify-content: center;
}

#home-text{
  position: absolute;
  top: 50%;
  left: 50%;
  /* used this link to help me center the text with absolute and relative https://www.w3schools.com/howto/howto_css_image_text.asp */
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

#home-caption{
  font-size: 7vw;
  width: 100%;

}


#landing-image{
  position: relative;
}

#message{
  height: 5rem;
}

#submit{
  margin:2rem;
}

.contact-us{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  margin: 7rem;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}

.contact-input{
  width: 50vw;
}

.about-top-container{
  display: flex;
  flex-direction: column;
}

.about-child{
  display: flex;
  flex-direction: row;
}


/*product-info*/

.product-details-container {
  padding-left: 12%;
  padding-right: 12%;
}

.product-info {
  display: flex;
  flex-direction: row;
  padding: auto;
  gap: 3rem;
  margin-bottom: 80px;
  width: 100%;
  justify-content: center;
}

.product-photos {
  display: flex;
  flex-direction: row;
  width:auto;
  max-width: 600px;
  flex: 1;
  gap: 1rem;
}

.large-photo {
  display: flex;
  flex-direction: column;
  flex: 5;
  width: 100%;
}

.large-photo-individual {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #21691B;
}

.small-photos {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 1rem;
}

.small-photo-individual {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-text {
  width:auto;
  max-width: 600px;
  flex: 1;
}

/*Product Reviews*/

.ratings-group {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.large-stars {
  height: 2rem;
}

.small-stars {
  height: 1rem;
}

.reviews {
  margin-bottom: 80px;
}

/*similar products*/

.similar-products-flex {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.similar-products {
  margin-bottom: 160px;
}

/*Checkout*/

.checkout-container {
  padding-left: 12%;
  padding-right: 12%;
}

.checkout-flex {
  border: 2px solid #21691B;
  border-radius: 10px;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  gap: 5%;

  margin-top: 40px;
  margin-bottom: 80px;
}

.checkout-flex-item {
  width: auto;
  flex-grow: 1;
}

.checkout-right-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: auto;
}

.total-amount {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  margin-bottom: 160px;
}

.checkout-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*Payments Page*/

.payment-flex {
  display: flex;
  flex-direction: row;
  gap: 5%;
}


/* home page things */
.extra-bottom-margin {
  margin-bottom: 3rem;
}

.home-products{
  margin-left: 5rem;
  margin-right: 5rem;
}

.home-image{
opacity: 0.5;
width: 100%;
height: auto;
}

.home-page{
  background-color: linear-gradient(180deg, #F2FFF2 0%, rgba(250, 255, 250, 0) 100%);
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 7rem;
}

#explore{
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.background-text{
}

.background-block{
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.background-child{
  margin-left: 4rem;
  margin-top: 3rem;
  width: 90vw;
}

#learn-button{
  margin-top: 6rem;
}

.products-block{
  margin-bottom: 5rem;
  /* background-color: rgba(250, 255, 250, 0) 100%); */

}

.about-child-2{
  display: flex;
  justify-content: flex-end;
}

.about-child-1{
  display: flex;
  justify-content: flex-start;
}

.about-child-text{
  margin: auto;
  margin-left: 5rem;

}

.about-child-description{
  margin-left: 7rem;
}

.button-size{
  width: 200px;
  margin: auto;
}

#drinks-box{
  width: 50vw;
  height: auto;
}

#people{
  width: 49vw;
  height: auto;
}

/* about page mobile adaptions */
@media only screen and (max-width:900px){
  .about-child-1{
    flex-wrap: wrap;
  }
  .about-child-2{
    flex-wrap: wrap-reverse;
  }
  .about-child-item{
    margin: auto;
  }
  #drinks-box{
    margin-top: 3rem;
  }
  #people{
    margin-top: 3rem;
  }
  .about-description{
    margin: 0;
  }
  .about-child-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 0;
    /* used this link to help me center the items while in column direction https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically */
  }
  .product_catalogue{
    padding: 0;
  }

  .contact-us{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0;
  }

  .product-listing{
    width: auto;
    align-items: center;
  }


  .fave-drink-button{
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    /* width: 15rem; */
  }

  .fave-img{
    padding: 0;
  }

  .fave-drink-cap{
    margin: 1rem;
    padding: 0;
  }

  #explore-button{
      margin-bottom: 2rem;
  }
}

.fave-drink-listing{
  width: auto;
}

.flex-box{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1020px){
  .flex-box{
    flex-direction: column;
  }
  .add-fave-button{
    margin-top: 0;
  }

  .product-listing-child-submit{
    margin-top: 0;
    width: 300px;
    text-align: center;
  }

}

@media only screen and (max-width: 1000px){


  .background-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  #backgrounddrinks-img{
    width: 100%;
    height: auto;
  }
}
